.firebaseui-title {
    display: none;
}
.firebaseui-card-header {
    padding-bottom: 16px;
}
.firebaseui-card-header::after {
    content: 'Sign in / Sign up';
    color: rgba(0, 0, 0, 0.87);
    direction: ltr;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
    text-align: left;
}
